.myMenu{
	top: 0; 
	position: fixed;
	list-style-type: none; 
	padding: 0;
	margin: 0;
	overflow: hidden; 
	background-color: #333;
	z-index: 2;
	width: 100%;
}
#innerMenu{
	float: left;
}
#innerMenu a{
	display: block;
	color: whitesmoke;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
#innerMenu a:hover:not(.active){
	background-color: rgba(240,151,151,0.966);
}
h1{
	text-align: center;
	font-size: 30px;
}
body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	text-align: center;
	background-color: lightslategray;
	border-left: 5cm;
	border-right: 5cm;
	border-width: 15cm;
}
img{
	text-align:center ;
}
iframe{
	text-align: center;
}

.active{
	background-color: black;
}

section#photos .gallery{
	transition-duration: 2.5s;
}
section#photos .gallery:hover{
	transform: scale(1.5,1.5)
}
.btn{
	color: snow;
	background-color: rgb(15, 58, 199);
	height: 1.3cm;
	width: 2.6cm;
	font-size: 20px;
	
}

#spa{
	text-align: left;
}
